@{
    ViewData["Title"] = "Mantenimiento de Alumnos";
}

<h1>Mantenimiento de Alumnos</h1>
<div class="row mt-5">
    <div class="container" style="display: flex; justify-content: space-between;">
        <div class="image-container" style="flex: 0;">
            <img src="../../Images/Logotipo.png" alt="Descripción de la imagen" style="max-height: 100%; width: auto;" />
        </div>
        <div style="flex: 1;">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">DNI</th>
                        <th scope="col">Fecha Nacimiento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Jhon</td>
                        <td>Puma</td>
                        <td>46886749</td>
                        <td>1992-10-29</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Carlo</td>
                        <td>Quiroz</td>
                        <td>88888888</td>
                        <td>2000-05-15</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Alex</td>
                        <td>Garcia</td>
                        <td>56324879</td>
                        <td>1998-05-01</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Margarita</td>
                        <td>Garcia</td>
                        <td>63958245</td>
                        <td>2005-10-01</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Ivan</td>
                        <td>Juarez</td>
                        <td>10101010</td>
                        <td>1998-01-01</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" class="text-center">
                            <div class="pagination">
                                <button class="btn">Anterior</button>
                                <button class="btn btn-primary">1</button>
                                <button class="btn">2</button>
                                <button class="btn">3</button>
                                <button class="btn">Siguiente</button>
                            </div>
                        </td>

                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>








